/* text stylings */

a {
  color: var(--text-primary);
  text-decoration: none;
}
a:hover {
  color: var(--hover-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* list item styles */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding-bottom: 8px;
}

/* table styles */

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 2px;
  padding-inline: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

th {
  text-align: left;
  background-color: var(--bg-tertiary);
  color: white;
}

/* form styles */

form {
  min-width: 300px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  gap: var(--space-sm);
  padding-block-end: var(--space-lg);
  display: flex;
  flex-direction: column;
}

legend {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  padding-block-end: 6px;
}

/* input html styles */

select {
  background-color: transparent;
  color: var(--text-primary);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: inherit;
  font: inherit;
  padding: var(--space-sm);
  width: 100%;
  display: flex;
  justify-self: space-between;
  align-items: center;
  border: 1px solid grey;
  min-width: 200px;
}
select::placeholder {
  color: var(--text-primary);
}
select:hover:not(:disabled) {
  background-color: var(--hover-primary);
}
select:focus {
  outline: 1px solid var(--focus-ring);
}
