.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}

.form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.copyAbstracts {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}
