.button {
  background-color: var(--color-primary);
  border: 2px solid transparent;
  margin-block: 2px;
  color: var(--text-color);
  padding-inline: 10px;
  padding-block: 4px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;

  /* microinteraction */
  transition: 0.3s background-color ease-in-out;
}

.leadingIcon {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

/* .primary {
  --bg-color: green;
  --text-color: white;
  --border-color: green;
}
.secondary {
  --bg-color: transparent;
  --text-color: black;
  --border-color: green;
}
.tertiary {
  --bg-color: transparent;
  --text-color: black;
  --border-color: transparent;
} */

.button:hover {
  cursor: pointer;
  background-color: var(--hover-primary);
}

.button:focus {
  outline: 2px solid var(--focus-ring);
  outline-color: var(--focus-ring);
}
.button:disabled {
  background-color: lightgray;
  border: 2px solid gray;
  cursor: not-allowed;
}
