.container {
  width: 100vw;
  height: 280px;
}

.navContainer {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 70px;
}
.nav {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  position: relative;
  top: -240px;
}

.mountain {
  /* background-color: #6b8f8c; */
  position: absolute;
  /* top: 100px; */
  border-radius: 55% 47% 0 0; /* Creates a semi-circle */
  transform: rotate(-5deg);
}

.mountainRange {
  position: relative;
  width: 100%;
  height: 100px; /* Adjust the height of the mountain range container */
  overflow: hidden;
  z-index: 2;
}
