.queryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: 24px;
}

.researchQuestionForm {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.querySettingsContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.queryResultsHeader {
  margin-top: 24px;
  margin-bottom: 4px;
}
