.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navItem a {
  padding: 3px;
  padding-inline: 10px;
  display: flex;
  flex: 1;
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  color: var(--text);
}
.navItem a:hover {
  color: var(--text-hover);
}

a.active {
  border-bottom: 2px solid var(--text-active);
  color: var(--text-active);
}
